@font-face {
    font-family: YozakuraJP;
    src: url(fonts/YozakuraJP-Regular.otf);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: antiquewhite;
    color: darkgreen;
    width: 100vw;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'YozakuraJP';
    font-size: 36px;
    margin-right: auto;
}

.container {
    background-color: rgb(48, 66, 49);
    color: rgb(197, 197, 197);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-top: 0px;
    gap: 50px;
}

.library {
    background-color: rgb(56, 27, 27);
    border: 10px solid rgb(0, 31, 7);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 75%;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.book {
    width: 90%;
    background-color: bisque;
    color: black;
    display: flex;
    /* gap: 10px; */
    justify-content: space-around;
    padding: 20px;
    border: 4px solid black;
    border-radius: 8px;
}

.form-bg {
    background-color: rgba(0, 0, 0, 0.512);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
}

.form-container {
    background-color: rgb(240, 253, 217);
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    border-radius: 12px;
}

.form-container [type="text"] {
    height: 32px;
    border-radius: 12px;
    border: none;
    padding: 10px;
}

.form-container input {
    padding: 10px;
}


.title,
.author,
.pages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10;
}

.read {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    width: 120px;
    height: 40px;
    border-radius: 12px;
    background-color: cadetblue;
    color: black;
    font-weight: bold;
    border: none;
}